<nav>

    <ul>
            <li> <%= link_to 'Home', root_path %></li>
                <li> <%=link_to "signup", new_user_registration_path %></li>
                <li> <%=link_to "login", new_user_session_path %></li>
                
             
            <%else%>
                <li> <%=link_to "logout", destroy_user_session_path, method: "delete" %></li>
                <li><%= current_user.email%></li>
                <li> <%= link_to 'list recipes', recipes_path %></li>
                <li> <%= link_to 'Categories',  categories_path %></li>
            <%end%>


    </ul>

</nav>